:root {
  --kai-orange: #feae5c;
  --fdot-blue: #1a2c3f;
}

.headerNavigation {
  --mdc-theme-primary: var(--fdot-blue);
}
.mdc-drawer__title {
  text-align: center;
}
.sideNav {
  position: fixed; /* keeps the sideNav from scrolling with page */
  height: 100%; /* sidenav takes up entire height of page */
}

.mdc-list-item:hover { /* sets the hover color of the sidenav button color */
  background-color: var(--kai-orange);
}
.wrapper {
  background-color: #61dafb;
  width: calc(100% - 256px);
  height: 100%;
  float: right;
}

.mdc-card {
  background-color: #5c7ffe;
  height: 200px;
  width: 70%;
  margin: auto;
  border: red 2px solid;
  display: flex;
  position: relative;
}